<style>
  .inner_table {
    border-collapse: collapse;
    width: 700px;
    background: #fff;
    margin:0 auto;
    font-family: sans-serif;
  }

  .inner_tr {
    border: solid;
    border-width: 1px 0;
  }

  .text {
      text-align: center;
      font-size: 1.2em;
      font-weight: normal;
      color: #050608;
  }

  .text_margin {
      margin: 30px 0
  }

  .text_decoration {
    text-decoration: line-through
  }

</style>

<div class="page-header">
  <h1>Search queries:</h1>
</div>


<table cellpadding="4">
  <%= form_for(search_path, method: "get", id: "search-form") do %>
    <tr>
      <td> Destination Name: </td>
        <td>
        <%= text_field_tag :destinationName, params[:destinationName], placeholder: "Jordan", size: "20" %>
      </td>
    </tr>

    <tr>
      <td> Region Ids: </td>
      <td>
        <%= text_field_tag :regionIds, params[:regionIds], placeholder: "6126616", size: "20" %>
      </td>
    </tr>

    <tr>
      <td> Trip Start Date: </td>
      <td>
        <%= text_field_tag :maxTripStartDate, params[:maxTripStartDate], placeholder: "2017-05-03", size: "20" %>
      </td>
    </tr>

    <tr>
      <td> Star Rating: </td>
      <td>
        <%= text_field_tag :maxStarRating, params[:maxStarRating], placeholder: "2.5", size: "20" %>
      </td>
    </tr>

    <tr>
      <td> length Of Stay(in days): </td>
      <td>
        <%= text_field_tag :lengthOfStay, params[:lengthOfStay], placeholder: "3", size: "20" %>  </td>
      </td>
    </tr>

    <tr><td> <%= submit_tag "Search", :name => nil %> </td></tr>
  <% end %>
</table>

<% if @items.present? %>
  <table class="inner_table">
    <% @items.each do |p| %>
      <tr class = "inner_tr">
        <td style="width:50px;"></td>
        <td style="width:200px;">
          <%= link_to(image_tag(p['hotelInfo']['hotelImageUrl'], alt: p['hotelInfo']['hotelName'], style: "width:200px; height:100px;"),URI.decode(p['hotelUrls']['hotelInfositeUrl']), target: "_blank", style: "width: 200px;height:100px;margin: 10px 7px 11px 0;display: block;float: right;").html_safe%>
        </td>

        <td style="width:50px;"></td>
        <td style="width:400px;">
          <p class="text" style="font-weight: bold;"><%= p['hotelInfo']['hotelName'] %></p>

          <p class="text text_margin"><%= p['hotelInfo']['hotelDestination'] %></p>

          <p class="text"><%= p['hotelInfo']['description'] %></p>

          <p class="text text_margin" style = "color: red;"><%= p['hotelUrgencyInfo']['numberOfPeopleBooked'] %> of pepole booked this hotel.</p>
        </td>

        <td style="width:50px;"></td>
        <td style="width:100px;">
          <p class="text" style = "color: red;"><%= p['hotelUrgencyInfo']['numberOfPeopleViewing'] %> of pepole viewed this hotel.</p>
          <p class="text text_margin">

            <span class="text_decoration">
              <%= p['hotelPricingInfo']['currency'] %><%= p['hotelPricingInfo']['originalPricePerNight']%>
            </span>
            <span><%= p['hotelPricingInfo']['currency'] %><%= p['hotelPricingInfo']['averagePriceValue']%></span>
            <span">avg/night</span>
          </p>
        </td>

        <td style="width:50px;"></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="text text_margin">
    No Data avaliable with the given search.
  </p>
<% end %>
